.portfolio .h4 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: cornflowerblue;
}
.portfolio h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: cornflowerblue;
}
.portfolio .btn {
  background-color: cornflowerblue;
  font-family: "Lucida Console", "Courier New", monospace;
  border-radius: 0px;
}
.portfolio .btn:hover {
  background-color: aqua; /* Green */
  color: white;
}
